<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dd"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/zhangshangdongdianlogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.dd.Appstart"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".MainActivity"/>
        <activity android:name=".newschool"/>
        <activity android:name=".oldschool"/>
        <activity android:name=".schoolnet"/>
        <activity android:name=".newschoolfood"/>
        <activity android:name=".oldschoolfood"/>
        <activity android:name=".aroundhotel"/>
        <activity android:name=".aroundhotel2"/>
        <activity android:name=".qiangzixiaochi"/>
        <activity android:name=".lanzhoulamian"/>
        <activity android:name=".malatang"/>
        <activity android:name=".jiwankuaifan"/>
        <activity android:name=".xianbingxiaochi"/>
        <activity android:name=".zhangjiekaorou"/>
        <activity android:name=".qiangzi"/>
        <activity android:name=".mala"/>
        <activity android:name=".jiwan"/>
        <activity android:name=".zhangjie"/>
        <activity android:name=".xianbing"/>
        <activity android:name=".lanzhou"/>
        <activity android:name=".shouzhuabing"/>
        <activity android:name=".shouzhua"/>
        <activity android:name=".heijiroubing"/>
        <activity android:name=".heiji"/>
        <activity android:name=".jiaozi"/>
        <activity android:name=".jiaoziguan"/>
        <activity android:name=".xinjiang"/>
        <activity android:name=".xinjiangshaokao"/>
        <activity android:name=".zicai"/>
        <activity android:name=".zicaibaofan"/>
        <activity android:name=".xiaolongbao"/>
        <activity android:name=".xiaolong"/>   
        <activity android:name=".view"/>    
        <activity android:name=".aboutus"/>     
    </application>

</manifest>
